:root {
  --island-layout-max-width: 1600px;
  --island-sidebar-width: 360px;
  --island-custom-block-info-bg: #ebeffe;
  --island-custom-block-info-text: #41339c;
  --island-custom-block-tip-border: var(--island-custom-block-info-border);
  --island-custom-block-tip-text: #41339c;
  --island-custom-block-tip-bg: #ebeffe;
}

/* 修改 info块背景及字体颜色 */
html.dark .island-directive.info code {
  background-color: #4357a6;
  color: #FFFFFF;
}

.island-directive.info code {
  background-color: #4357a6;
  color: #FFFFFF;
}

.island-directive.info a,
.island-directive.tip a {
  color: var(--island-custom-block-info-text);
  font-weight: 700;
  padding: 0 2px;
  text-decoration: underline;
}

/* 图片居中 */
p>img[src^="https://blog-1318409910"] {
  margin: 0 auto;
}

nav section a[class^="_link"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1600px) {

  aside[class^="_sidebar"],
  div[class^="_nav-bar-title"] {
    padding: 0;
    padding-left: 50px;
    width: 20% !important;
    max-width: 450px;
  }

  aside[class^="_sidebar"] {
    margin-top: 60px;
  }

  div[class^="_container_"] {
    max-width: 100%;
  }

  div[class^="_content_"] {
    padding-right: 50px;
  }

  .divider-bottom {
    padding: 0;
  }

  div[class^="_docLayout"] div[class^="_content"] {
    padding: 0;
  }

  .md\:max-w-712px,
  [md\:max-w-712px=""] {
    min-width: 1100px;
    max-width: 80%;
    width: 70%;
  }

  div[class="max-w-100%"] {
    margin: 0 0 0 20%;
  }
}